/* CSS GOES HERE */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #CFFCFF;
}



section#about {
    
}

section#contact {
    
}

section#gallery {
    display: flex;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 50px;
}

footer {
    background-color: white;
    color: black;
    padding: 10px;
}

h1 { 
    font-family: sans-serif;
    font-size: 80px;    
}


h1 {
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 60%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 400% auto;
    animation: textShine 2.5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h2 {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 150px;
    
}


div.row p {
    font-family: sans-serif;
}

div.row p:first-child {
    font-family: serif;
    font-size: 20px;
}

div.titlesection {
    text-align: left;
}

div.main_nav {
    font-family: sans-serif;
}

.tworow {
    display: flex;
    justify-content: center;
}

img {
    margin-right: 5px;
    margin-bottom: 1px;
    border: 3px solid #00C9FF;
    border-radius: 3%;
    width: 400px;
    height: 400px;
}

p {
padding-left: 45px;
padding-right: 45px;
}


ul {list-style-type: circle;
padding-right: 50px;
padding-left: 50px;
}

.row{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
