/* CSS GOES HERE */

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #CFFCFF;
    color:#000000;
}

.body-dark{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: #2B2F30 !important;
  color: #FFF;

}

.h4-dark {
  color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}


section#gallery {
    display: flex;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 50px;
}

footer {
    background-color: #CFFCFF;
    color: black;
    padding: 20px;
    padding-top: 30px;
  
    
}

.footer-dark {
  background-color: #2B2F30 !important;
  color: #FFFFFF !important;
  padding: 10px; 
}



h1 { 
    font-family: sans-serif;
    font-size: 80px;  
    
}

.h1_dark {
  font-family: sans-serif;
  font-size: 80px;
  color: #ffffff;
}


h1 {
    background: linear-gradient(
        to right,
        #7953cd 20%,
        #00affa 30%,
        #0190cd 60%,
        #764ada 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 400% auto;
    animation: textShine 2.5s ease-in-out infinite alternate;
    padding-bottom: -45px;
    margin-block-end: 15px;
    margin-block-start: 15px;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

h2 {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
margin: 0;
    }

    
.h2-dark {
  font-family: sans-serif;
  color: #FFFFFF !important;
margin: 0;
}

.line {
    width: 250px;
    height: 3px;
    background-color:#00C9FF;
}

.line-dark {
  width: 250px;
  height: 3px;
  background-color:#FFFFFF !important;
}

.headingwrapper {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

div.row p {
    font-family: sans-serif;
}

div.row p:first-child {
    font-family: serif;
    font-size: 20px;
}

div.titlesection {
    text-align: left;
}

div.title {
    font-size: 20px;
}

div.main_nav {
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

.tworow {
    display: flex;
    justify-content: center;
}

img {
    margin-right: 5px;
    margin-bottom: 1px;
    border: 3px solid #00C9FF;
    border-radius: 3%;
    width: 100%;
    height: 100%;
}

.img-dark {
  margin-right: 5px;
  margin-bottom: 1px;
  border: 3px solid #ffffff !important;
  border-radius: 3%;
  width: 100%;
  height: 100%;
}

p {
padding-left: 90px;
padding-right: 90px;
margin-top: 45px;
margin-bottom: 45px;
}

.p-dark {
  color: #FFFFFF;
}


ul {list-style-type: none;
padding-right: 50px;
padding-left: 50px;
color: #00C9FF;
}

.ul-dark {
  list-style-type: none;
    padding-right: 50px;
    padding-left: 50px;
    color: #FFFFFF !important;
}

li {
    color: #00C9FF;
}

.li-dark {
  color: #FFFFFF !important;
}

.row{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

img.doodle{
    margin-right: 0px;
    margin-bottom: 1px;
    margin-top: 10px;
    border: 3px solid #00C9FF;
    border-radius: 3%;
    width: 300px;
    height: 225px;
}

img.doodle-dark{
  margin-right: 0px;
  margin-bottom: 1px;
  margin-top: 10px;
  border: 3px solid #2B2F30 !important;
  border-radius: 3%;
  width: 200px;
  height: 200px;
}

img.codeskill {
  margin-top: 10px;
  width: 75%;
  height: 75%;
  border: none;
  
}

img.softwareskill {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  border: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
   
   background-color: #CFFCFF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  .accordion-dark {
   
    color: #444 !important;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #00C9FF;
  }
  
  .active-dark, .accordion-dark:hover {
    background-color: #2b2f30 !important;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    
    display: none;
    overflow: hidden;
  }

  .accordion:after {
    content: '\2304'; /* Unicode character  */
    font-size: 20px;
    color: rgb(0, 0, 0);
    float: center;
    margin-left: 5px;
  }

  .accordion:after-dark {
    content: '\2304'; /* Unicode character  */
    font-size: 20px;
    color: #FFFFFF !important;
    float: center;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2303"; /* Unicode character  */
    font-size: 20px;
  }

  .mobile-menu {
    width: 50px;
    height: 50px;
    border-radius: 5px;
 
    
    position: fixed;
    top: 40px;
    left: 40px;
    background-image: url(images/menuburger.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    display: none;
  }

  .mobile_menu_popout {
    position: fixed;
    height: 100%;
    left: -100%;
    padding-top: 100px;
    background-color: none;
    z-index: 998;
    padding-right: 30px;
    transition: all 300ms;
    display: block;
    top: 0;
    font-family: sans-serif;
    block-size: 50%;
    background-color: #00C9FF;
    border-radius: 10px;
   border-style:  solid;
   border-width: 5px;
   border-color: #00C9FF;
   
  }

  .mobile_menu_popout-dark {
    position: fixed;
    height: 100%;
    left: -100%;
    padding-top: 100px;
    background-color: none;
    z-index: 998;
    padding-right: 30px;
    transition: all 300ms;
    display: block;
    top: 0;
    font-family: sans-serif;
    block-size: 50%;
    background-color: #2B2F30 !important;
    border-radius: 10px;
   border-style:  solid;
   border-width: 5px;
   border-color: #FFFFFF !important;
   color: #ffffff !important;
  }


  .darkmodebutton {
 position: fixed;
right: 1px;
background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 999;

    width:100px; 
    background:#00c9ff; 
    height: 60px; 
    font-size: 18px;  
    border-color:#00c9ff;
    border-radius: 10px;
  }

  .linkie {
    color: #CFFCFF;
    font-size: 30px;
  }

  .linkie-dark {
    color: #FFFFFF !important;
    font-size: 30px;
  }

  *,
*::before,
*::after {
  box-sizing: border-box;
}



p {
  margin: 0 0 0px 0;
}

a {
  color: #00C9FF;
 font-size: 20px;
 text-decoration: none;
}

.a-dark {
  color: #FFFFFF !important;
 font-size: 20px;
 text-decoration: none;
}

a:hover {
 
  color: #764ada;
}

.a:hover-dark {
  background: #000000;
  color: #FFFFFF !important;
}

.center { text-align: center; }

.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
}

.episode__number {
  font-size: 10vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
  color: #00C9FF;
}

.episode__number-dark {
  font-size: 10vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 0;
  text-align: center;
  height: calc(10vw + 20px);
  transition: all 0.2s ease-in;
  color: #FFF !important; 
}


.episode__content {
  border-top: 2px solid #00c9ff;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content-dark {
  border-top: 2px solid #FFFFFF !important;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600
}

.episode__content .story {
  line-height: 26px;
}

@media (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
}

.open {
  left: 0px;
}

.close {
  background-image: url(images/menuclose.svg ) ;

}


#contact {
 text-align: center;
}

.u-full-width{
  background: none;
  border: none;
  border-bottom: 1px solid #757575;
  color: #757575;
  background: #f8ffff;
  border-radius: 10px;
  height: 30px;
}

.u-full-width-dark{
  background: none;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF !important;
  background: white !important;
}


.u-full-message {
  margin-top: 20px;
  border-radius: 10px;
  border:none;
  border-bottom: 1px solid #757575;
  border-color: #757575;
  color: #757575;

  width: 550px; 
  height: 155px; 
  font-family: sans-serif; 
  font-size:20px;
}

.u-full-message-dark {
  margin-top: 20px;
  border-radius: 10px;
  border-color: #FFFFFF !important;
  color: #FFFFFF !important;
}

div.contact_columns {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  padding: 10px;
}


.button-primary {
  width:150px; 
  background:#00c9ff; 
  height: 60px; 
  font-size: 30px;  
  border-color:#00c9ff;
  border-radius: 10px;
}

.button-primary-dark {
  width:150px; 
  background:#757575 !important; 
  height: 60px; 
  font-size: 30px;  
  border-color:#242424 !important;
  border-radius: 10px;
}



.contact_columns {
  color: #757575; 
  font-size: 20px;
}

.contact_columns-dark {
  color: #ffffff !important; 
  font-size: 20px;
}

.contact_message {
  margin-top: 10px;
  margin-bottom: 20px;
}



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.material-fill-1 {
    font-variation-settings:
        'FILL'1,
        'wght'400,
        'GRAD'0,
        'opsz'48
}

a:hover{
  text-decoration: underline;
}
.gallery {
    --_height: 250px; 
    --_gap: .5rem;
  display: flex;
    --_grid-rows: var(--_height) var(--_height) var(--_height);
    --_height-hover: calc(var(--_height) * 2);
    --_height-not-hover: calc(var(--_height) / 2);
   margin-right: auto;
  margin-left: auto;
    width: 100%;  
    max-width: 800px;
    display: grid;
    gap: var(--_gap);
}
@media (min-width:720px){
  .gallery {
      grid-template-columns: repeat(3,1fr);
  }
  
}
.gallery>div {
    height: fit-content;
    display: grid;
    grid-template-rows: var(--_grid-rows);
    gap: var(--_gap);
    transition: grid-template-rows 300ms ease-in-out;
}
.gallery>div>article {
    position: relative;
    text-align: center;
}
.gallery>div>article>div{
   position: absolute;
  bottom: 0;
  left: 0;
  background: #00000070;
  font-size: 0.65rem;
  color: white;
  display: flex;
  align-items: center;
  gap: .25rem;
  padding: .15rem 0.5rem;
  
}
.gallery>div>article>div>span{
  font-size: 0.7rem;
  color: red;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.gallery>div:has(>article:nth-child(1):hover) {
    --_grid-rows: var(--_height-hover) var(--_height-not-hover) var(--_height-not-hover);
}
.gallery>div:has(>article:nth-child(2):hover) {
    --_grid-rows: var(--_height-not-hover) var(--_height-hover) var(--_height-not-hover);
}
.gallery>div:has(>article:nth-child(3):hover) {
    --_grid-rows: var(--_height-not-hover) var(--_height-not-hover) var(--_height-hover);
}
.gallery>div>article:hover {
    background-color: rgb(151, 152, 201);
    color: #FFF;
}








img {
  max-height: 300px;
  max-width: 300px;
}



a:hover {
  color: #bbb;
}

.italic { font-style: italic; }
.small { font-size: 0.8em; }

/** LIGHTBOX MARKUP **/

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  
  /* A bit of padding around image */
  padding: 1em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.figma {
  display: flex; 
  align-items: center;
  justify-content: center;
}